:root {
  --first-title-color: #303030;
  --second-title-color: #fff;
  --first-btn-color: #303030;
  --second-btn-color: #fff;
  --accent-color: #ff6c00;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.pre-title {
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
/*------header------*/
.header {
  background-color: blue;
}
.header-link,
.header-tel {
  color: var(--second-title-color);
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.2px;
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-btn {
  color: var(--second-btn-color);
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.header-btn:hover,
.header-btn:focus {
  background-color: var(--accent-color);
  color: var(--second-btn-color);
}
/*-----hero-----*/
.hero {
  background-color: blue;
}
.hero-list {
}
.hero-item {
}
.hero-link {
  color: var(--first-title-color);
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}
.hero-link:hover,
.hero-link:focus {
  color: var(--accent-color);
}
.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  color: var(--second-title-color);
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.6px;
}
.hero-after-title {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
}
.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}
.btn {
  font-family: inherit;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
  color: var(--second-btn-color);
}
/*-----about-----*/
.about {
}
.about-list {
}
.about-item {
}
.about-pre-title {
  color: var(--first-title-color);
}
.about-title {
  color: var(--first-title-color);
}
.about-after-title {
  color: #555;
}
.about-text {
  color: #555;
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.28px;
}
.about-btn {
  color: var(--first-btn-color);
}
/*-----prices-----*/
.prices {
  background-color: blue;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  color: var(--second-title-color);
}
.prices-list {
}
.prices-item {
  color: #9da4bd;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.36px;
}
.prices-item-text {
}
.prices-btn {
  color: var(--second-btn-color);
}
/*-----benefits-----*/
.benefits {
}
.benefits-list {
}
.benefits-item span {
  color: var(--first-title-color);
  font-size: 42px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.1px;
  text-align: center;
}
.benefits-item sup {
  color: var(--accent-color);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
.benefits-item-text {
  color: var(--first-title-color);
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
}
.benefits-pre-title {
  color: var(--first-title-color);
}
.benefits-title {
  color: var(--first-title-color);
}
.benefits-after-title {
  color: #555;
}
/*-----barbers-----*/
.barbers {
}
.barbers-pre-title {
  color: var(--first-title-color);
}
.barbers-title {
  color: var(--first-title-color);
}
.barbers-list {
}
.barbers-item {
}
.barbers-item-title {
  color: var(--first-title-color);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.36px;
}
.barbers-item-text {
  color: var(--accent-color);
  text-align: center;
  font-size: 14px;
  line-height: normal;
  letter-spacing: 0.28px;
}
/*-----gallery-----*/
.gallery-pre-title {
  color: var(--first-title-color);
}
.pre-title {
}
.gallery-list {
}
.list {
}
.gallery-item {
}
/*-----feedback-----*/
.feedback {
  background-color: blue;
}
.feedback-title {
  color: var(--second-title-color);
}
/*-----contacts-----*/
.contacts {
  background-color: rgb(42, 42, 83);
}
.contacts-title {
  color: var(--second-title-color);
}
.contacts-address {
  font-style: normal;
}
.contacts-list {
}
.contacts-address {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.67;
  letter-spacing: 0.36px;
}
.contacts-tel {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
}
.contacts-mail {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
  text-decoration-line: underline;
}
.contacts-pre-title {
  color: var(--second-title-color);
}
.contacts-text {
  color: #9da4bd;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.36px;
}
/*-----footer-----*/
.footer {
}
.footer-text {
  color: #9da4bd;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}
.footer-list {
}
.footer-item {
  color: #303030;
  font-size: 11px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2.2px;
}
